APScheduler==2.1.2
asn1crypto==1.3.0
beautifulsoup4==4.8.2
bokeh==1.3.4
certifi==2019.11.28
cffi==1.14.0
cftime==1.0.3.4
chardet==3.0.4
click==7.1.1
cloudpickle==1.2.2
colorcet==2.0.2
cryptography==2.8
cycler==0.10.0
dask==2.5.2
datashader==0.8.0
datashape==0.5.2
distributed==2.5.2
dnspython==1.16.0
fastparquet==0.3.2
Flask==1.1.1
Flask-APScheduler==1.11.0
fsspec==0.5.2
gunicorn==20.0.4
HeapDict==1.0.1
holoviews==1.12.6
hvplot==0.5.0
idna==2.9
imageio==2.6.1
ipython==7.1.1
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
kaggle==1.5.6
kiwisolver==1.1.0
llvmlite==0.30.0
locket==0.2.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.1
msgpack==0.6.2
multipledispatch==0.6.0
netCDF4==1.5.2
networkx==2.3
numba==0.46.0
numpy==1.18.2
packaging==19.2
pandas==1.0.3
panel==0.6.4
param==1.9.2
partd==1.0.0
Pillow==6.2.0
plotly==4.5.4
psutil==5.6.3
pycosat==0.6.3
pycparser==2.19
pyct==0.4.6
pymongo==3.9.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
python-slugify==4.0.0
pytz==2019.3
pyviz==0.10.3
pyviz-comms==0.7.2
PyWavelets==1.0.3
pywin32==227
PyYAML==5.1.2
requests==2.23.0
retrying==1.3.3
rise==5.5.1
ruamel.yaml==0.15.87
schedule==0.6.0
scikit-image==0.15.0
scikit-learn==0.22.2.post1
scipy==1.4.1
selenium==3.141.0
six==1.14.0
sortedcontainers==2.1.0
soupsieve==1.9.5
streamz==0.5.2
tblib==1.4.0
text-unidecode==1.3
thrift==0.11.0
toolz==0.10.0
tqdm==4.43.0
tzlocal==2.0.0
urllib3==1.24.3
Werkzeug==1.0.0
win-inet-pton==1.1.0
wincertstore==0.2
xarray==0.11.3
zict==1.0.0
